  <div class="user-deta">
      <div class="user-image">
        <% if @user.image? %>
          <%= image_tag @user.image.thumb.url, class: "user-icon" %>
        <% else %>
          <%= image_tag "/assets/default.jpg", :size => '70x70', class: "user-icon" %>
        <% end %>
      </div>
      <div class="user-name">
        <h3>ユーザ名：<%= @user.name %></h3>
      </div>
  </div>
    <div class="user-profile">     
      <p>プロフィール：<%= @user.profile %></p>
    </div>

  <div class="offset-sm-2 col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><%= link_to 'メッセージ一覧', user_path(@user), class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'お気に入り一覧', likes_user_path(@user), class: 'nav-link active' %>
    </ul>
    <%= render 'messages/messages', messages: @like_messages %>
  </div>